## Telco Customer Churn Data Cleaning

In [8]:
## This notebook cleans the Telco Customer Churn dataset for analysis.

# Import necessary libraries
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv(r"C:\Users\Motun\Downloads\WA_Fn-UseC_-Telco-Customer-Churn.csv")

# Initial exploration
print("Dataset shape:", df.shape)
print("\nFirst 5 rows:")
display(df.head())
print("\nData types and missing values:")
display(df.info())
print("\nSummary statistics:")
display(df.describe(include='all'))


# ## Step 1: Handle Missing Values


# Check for missing values
print("Missing values per column:")
print(df.isnull().sum())


# Handle the missing TotalCharges (found in initial exploration)
# Convert TotalCharges to numeric, coerce errors to NaN
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')


# Check how many missing values we have in TotalCharges
print("\nMissing values in TotalCharges:", df['TotalCharges'].isnull().sum())


# Investigate rows with missing TotalCharges
display(df[df['TotalCharges'].isnull()])


# Since these customers have tenure=0, we can assume TotalCharges should be 0
df['TotalCharges'] = df['TotalCharges'].fillna(0)


# Verify no more missing values
print("\nMissing values after cleaning:")
print(df.isnull().sum())


# ## Convert Data Types

# Convert SeniorCitizen from 0/1 to categorical
df['SeniorCitizen'] = df['SeniorCitizen'].map({0: 'No', 1: 'Yes'})


# Convert categorical columns to category dtype
categorical_cols = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 
                   'PhoneService', 'MultipleLines', 'InternetService',
                   'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
                   'TechSupport', 'StreamingTV', 'StreamingMovies',
                   'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']

for col in categorical_cols:
    df[col] = df[col].astype('category')


# Convert TotalCharges to float
df['TotalCharges'] = df['TotalCharges'].astype(float)


# Verify data types
print("\nData types after conversion:")
display(df.dtypes)

# ## Step 3: Handle Inconsistent Values

# Check for inconsistent values in categorical columns
for col in categorical_cols:
    print(f"\nUnique values in {col}:")
    print(df[col].unique())


# Replace "No phone service" and "No internet service" with "No" for consistency
services = ['MultipleLines', 'OnlineSecurity', 'OnlineBackup', 
            'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']

for col in services:
    df[col] = df[col].astype(str).replace({
    'No phone service': 'No',
    'No internet service': 'No'
    }).astype('category')



# Verify changes
print("\nAfter cleaning service columns:")
display(df[services].head())


# ## Step 4: Create New Features (Optional)

# Optionally create new features that might be useful for analysis
# For example, total services subscribed to
service_columns = ['PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 
                  'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']

# Count of services (excluding InternetService which is a type)
df['TotalServices'] = (df[service_columns[1:]] == 'Yes').sum(axis=1)

# Monthly charge per service
df['ChargePerService'] = np.where(df['TotalServices'] > 0, 
                                 df['MonthlyCharges'] / df['TotalServices'], 
                                 0)


# Display the new features
display(df[['customerID', 'TotalServices', 'ChargePerService']].head())


# Final Data Quality Check

# Check for any remaining issues
print("\nFinal data quality check:")
print("Duplicate rows:", df.duplicated().sum())
print("\nData types:")
display(df.dtypes)
print("\nSummary statistics:")
display(df.describe(include='all'))

# Save 

# Save the cleaned dataset to a new CSV file
df.to_csv('Telco_Customer_Churn_Cleaned.csv', index=False)

Dataset shape: (7043, 21)

First 5 rows:

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

Data types and missing values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

None

Summary statistics:

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,7043,7043,7043.000000,7043,7043,7043.000000,7043,7043,7043,7043,...,7043,7043,7043,7043,7043,7043,7043,7043.000000,7043,7043
unique,7043,2,NaN,2,2,NaN,2,3,3,3,...,3,3,3,3,3,2,4,NaN,6531,2
top,7590-VHVEG,Male,NaN,No,No,NaN,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,,No
freq,1,3555,NaN,3641,4933,NaN,6361,3390,3096,3498,...,3095,3473,2810,2785,3875,4171,2365,NaN,11,5174
mean,NaN,NaN,0.162147,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN,NaN
std,NaN,NaN,0.368612,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN,NaN
min,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN,NaN
25%,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN,NaN
50%,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN,NaN
75%,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN,NaN
max,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN,NaN

Missing values per column:
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Missing values in TotalCharges: 11

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

Missing values after cleaning:
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Data types after conversion:

customerID            object
gender              category
SeniorCitizen       category
Partner             category
Dependents          category
tenure                 int64
PhoneService        category
MultipleLines       category
InternetService     category
OnlineSecurity      category
OnlineBackup        category
DeviceProtection    category
TechSupport         category
StreamingTV         category
StreamingMovies     category
Contract            category
PaperlessBilling    category
PaymentMethod       category
MonthlyCharges       float64
TotalCharges         float64
Churn               category
dtype: object

Unique values in gender:
['Female', 'Male']
Categories (2, object): ['Female', 'Male']

Unique values in SeniorCitizen:
['No', 'Yes']
Categories (2, object): ['No', 'Yes']

Unique values in Partner:
['Yes', 'No']
Categories (2, object): ['No', 'Yes']

Unique values in Dependents:
['No', 'Yes']
Categories (2, object): ['No', 'Yes']

Unique values in PhoneService:
['No', 'Yes']
Categories (2, object): ['No', 'Yes']

Unique values in MultipleLines:
['No phone service', 'No', 'Yes']
Categories (3, object): ['No', 'No phone service', 'Yes']

Unique values in InternetService:
['DSL', 'Fiber optic', 'No']
Categories (3, object): ['DSL', 'Fiber optic', 'No']

Unique values in OnlineSecurity:
['No', 'Yes', 'No internet service']
Categories (3, object): ['No', 'No internet service', 'Yes']

Unique values in OnlineBackup:
['Yes', 'No', 'No internet service']
Categories (3, object): ['No', 'No internet service', 'Yes']

Unique values in DeviceProtection:
['No', 'Yes', 'No internet service']
Categories (3, object): ['No', 'No internet service', 'Yes']

Unique values in TechSupport:
['No', 'Yes', 'No internet service']
Categories (3, object): ['No', 'No internet service', 'Yes']

Unique values in StreamingTV:
['No', 'Yes', 'No internet service']
Categories (3, object): ['No', 'No internet service', 'Yes']

Unique values in StreamingMovies:
['No', 'Yes', 'No internet service']
Categories (3, object): ['No', 'No internet service', 'Yes']

Unique values in Contract:
['Month-to-month', 'One year', 'Two year']
Categories (3, object): ['Month-to-month', 'One year', 'Two year']

Unique values in PaperlessBilling:
['Yes', 'No']
Categories (2, object): ['No', 'Yes']

Unique values in PaymentMethod:
['Electronic check', 'Mailed check', 'Bank transfer (automatic)', 'Credit card (automatic)']
Categories (4, object): ['Bank transfer (automatic)', 'Credit card (automatic)', 'Electronic check', 'Mailed check']

Unique values in Churn:
['No', 'Yes']
Categories (2, object): ['No', 'Yes']

After cleaning service columns:

,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,No,No,Yes,No,No,No,No
1,No,Yes,No,Yes,No,No,No
2,No,Yes,Yes,No,No,No,No
3,No,Yes,No,Yes,Yes,No,No
4,No,No,No,No,No,No,No

   customerID  TotalServices  ChargePerService
0  7590-VHVEG              1            29.850
1  5575-GNVDE              2            28.475
2  3668-QPYBK              2            26.925
3  7795-CFOCW              3            14.100
4  9237-HQITU              0             0.000

Final data quality check:
Duplicate rows: 0

Data types:

customerID            object
gender              category
SeniorCitizen       category
Partner             category
Dependents          category
tenure                 int64
PhoneService        category
MultipleLines       category
InternetService     category
OnlineSecurity      category
OnlineBackup        category
DeviceProtection    category
TechSupport         category
StreamingTV         category
StreamingMovies     category
Contract            category
PaperlessBilling    category
PaymentMethod       category
MonthlyCharges       float64
TotalCharges         float64
Churn               category
TotalServices          int64
ChargePerService     float64
dtype: object

Summary statistics:

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,TotalServices,ChargePerService
count,7043,7043,7043,7043,7043,7043.000000,7043,7043,7043,7043,...,7043,7043,7043,7043,7043,7043.000000,7043.000000,7043,7043.000000,7043.000000
unique,7043,2,2,2,2,NaN,2,2,3,2,...,2,2,3,2,4,NaN,NaN,2,NaN,NaN
top,7590-VHVEG,Male,No,No,No,NaN,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,NaN,NaN,No,NaN,NaN
freq,1,3555,5901,3641,4933,NaN,6361,4072,3096,5024,...,4336,4311,3875,4171,2365,NaN,NaN,5174,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,64.761692,2279.734304,NaN,2.459747,22.619814
std,NaN,NaN,NaN,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30.090047,2266.794470,NaN,2.045539,19.406747
min,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.250000,0.000000,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35.500000,398.550000,NaN,1.000000,12.066250
50%,NaN,NaN,NaN,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,70.350000,1394.550000,NaN,2.000000,20.810000
75%,NaN,NaN,NaN,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,89.850000,3786.600000,NaN,4.000000,29.729167
max,NaN,NaN,NaN,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,118.750000,8684.800000,NaN,7.000000,81.950000